header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 80;
  outline: 1px solid red;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.nav-link--active {
  color: #e84a5f;
}
